src/conf/wsdl/localhost_8080/PersonWs/PersonWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.dataejbsra.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.dataejbsra.com/" name="PersonWs">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.dataejbsra.com/" schemaLocation="http://localhost:8080/PersonWs/PersonWs?xsd=1"/>
</xsd:schema>
</types>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findByCedule">
<part name="parameters" element="tns:findByCedule"/>
</message>
<message name="findByCeduleResponse">
<part name="parameters" element="tns:findByCeduleResponse"/>
</message>
<message name="registerData">
<part name="parameters" element="tns:registerData"/>
</message>
<message name="registerDataResponse">
<part name="parameters" element="tns:registerDataResponse"/>
</message>
<message name="registerBirth">
<part name="parameters" element="tns:registerBirth"/>
</message>
<message name="registerBirthResponse">
<part name="parameters" element="tns:registerBirthResponse"/>
</message>
<message name="findByUserName">
<part name="parameters" element="tns:findByUserName"/>
</message>
<message name="findByUserNameResponse">
<part name="parameters" element="tns:findByUserNameResponse"/>
</message>
<message name="registerDeath">
<part name="parameters" element="tns:registerDeath"/>
</message>
<message name="registerDeathResponse">
<part name="parameters" element="tns:registerDeathResponse"/>
</message>
<portType name="PersonWs">
<operation name="count">
<input wsam:Action="http://ws.dataejbsra.com/PersonWs/countRequest" message="tns:count"/>
<output wsam:Action="http://ws.dataejbsra.com/PersonWs/countResponse" message="tns:countResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://ws.dataejbsra.com/PersonWs/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://ws.dataejbsra.com/PersonWs/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://ws.dataejbsra.com/PersonWs/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ws.dataejbsra.com/PersonWs/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findByCedule">
<input wsam:Action="http://ws.dataejbsra.com/PersonWs/findByCeduleRequest" message="tns:findByCedule"/>
<output wsam:Action="http://ws.dataejbsra.com/PersonWs/findByCeduleResponse" message="tns:findByCeduleResponse"/>
</operation>
<operation name="registerData">
<input wsam:Action="http://ws.dataejbsra.com/PersonWs/registerDataRequest" message="tns:registerData"/>
<output wsam:Action="http://ws.dataejbsra.com/PersonWs/registerDataResponse" message="tns:registerDataResponse"/>
</operation>
<operation name="registerBirth">
<input wsam:Action="http://ws.dataejbsra.com/PersonWs/registerBirthRequest" message="tns:registerBirth"/>
<output wsam:Action="http://ws.dataejbsra.com/PersonWs/registerBirthResponse" message="tns:registerBirthResponse"/>
</operation>
<operation name="findByUserName">
<input wsam:Action="http://ws.dataejbsra.com/PersonWs/findByUserNameRequest" message="tns:findByUserName"/>
<output wsam:Action="http://ws.dataejbsra.com/PersonWs/findByUserNameResponse" message="tns:findByUserNameResponse"/>
</operation>
<operation name="registerDeath">
<input wsam:Action="http://ws.dataejbsra.com/PersonWs/registerDeathRequest" message="tns:registerDeath"/>
<output wsam:Action="http://ws.dataejbsra.com/PersonWs/registerDeathResponse" message="tns:registerDeathResponse"/>
</operation>
</portType>
<binding name="PersonWsPortBinding" type="tns:PersonWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByCedule">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerBirth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByUserName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerDeath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PersonWs">
<port name="PersonWsPort" binding="tns:PersonWsPortBinding">
<soap:address location="http://localhost:8080/PersonWs/PersonWs"/>
</port>
</service>
</definitions>